.header {
    grid-row: header-s/header-e;
    grid-column: 1/-1;
    display: grid;
    justify-items: end;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns:[img-s] 1fr [img-e search-s] 1fr [search-e links-s] 1fr [links-e];

    &__img {
        transform: translateX(25px);
        grid-column: img-s/img-e;
        grid-row: 1/-1;
        justify-self: start;
    }

    &__search-bar {
        grid-column: search-s/search-e;
        grid-row: 1/-1;

    }

    &__links {
        grid-column: links-s/links-e;
        grid-row: 1/-1;
        margin-right: 30px;
        display: grid;
        grid-template-rows: [s] 1fr [e];
        grid-column-gap: 47px;
        & > * {
            grid-row: s/e;
        }
    }
}

 